*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

a:link, 
a:active,
a:visited{
    color: rgb(202 147 239);
    font: normal 500 3rem mongoose, sans-serif, sans-serif;
    text-decoration: none;
    background: #c6eae7 ;
    padding: .5rem  0;
    border: rgb(202 147 239) 1rem solid;
    text-transform: uppercase;
    letter-spacing: .05rem;
    max-width: 15rem;
    text-align: center;
    margin: 4rem auto;
}
.container{
    max-width: 100rem;
    margin: 0 auto;
}

.header{
    background: rgb(202 147 239);
    font-family: sweet-titling-no-11, sans-serif;
    font-size: 2.5rem;
    color: white;
    padding: 3rem;
    text-align: center;
}

.h2{
    font: normal 500 3rem mongoose, sans-serif, sans-serif;
    text-align: center;
    padding: 3rem 0;
}

.wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    width: 22rem;
    height: 22rem;
    border: rgb(202 147 239) solid 1.2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box span{
    font: normal 500 6rem mongoose, sans-serif, sans-serif;
}

#one{
    background:#ffdef2;
}

#two{
    background:#ffeec5;
}

#three{
    background: #d7ffc0;
}

.color {
    background: #c6eae7 !important;
}

.link {
    display: none;
}

.show {
    display: block;
}

.box p{
    font: normal 400 3rem mongoose, sans-serif, sans-serif;
    text-align: center;
    padding: 0 2rem;
}